.all-about{
    height: 900px;
}
.root-back-about{
    width: 100%;
    height: 900px;
    position: relative;
    background: linear-gradient(#0E2828, #048354);
}
.public-main-about{
    height: 800px;
}
.about{
    display: flex;
    width:168px;
    height:48px;
    font-size:40px;
    color: #FFFFFF;
    line-height:48px;
    font-family:FZLTDHK--GBK1-0;
    letter-spacing:2px;
}
.effect{
    margin: 16px 0 0 0;
    width:800px;
    height:140px;
    font-size:16px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:28px;
}
.photo-three{
    display: flex;
}
.photo-t{
    margin-right: 30px;
    width: 320px;
    height: 200px;
}