*{
    margin: 0;
    padding: 0;
}
a:hover{
    color: #26C41C;
}
.all{
    height: 900px;
}
.root-back{
    width: 100%;
    height: 900px;
    position: relative;
    background: linear-gradient(#0E2828, #048354);
}
.public-header{
    width: 100%;
    height: 80px;
    text-align: center;
}
.public-container{
}
.header-logo{
    margin: 17px 81px 0 0;
    /*height: 47px;*/
}
.header-link-unique{
    color: #26C41C;
    line-height: 80px;
    vertical-align: top;
    display: inline-block;
    width: 140px;
    height: 80px;
    text-decoration:none;
    text-align: center;
}
.header-link{
    color: #fff;
    line-height: 80px;
    vertical-align: top;
    display: inline-block;
    width: 140px;
    height: 80px;
    text-decoration:none;
    text-align: center;
}
.select:hover .topple{
    display: block;
}
.select{
    display: none;
    color:#fff;
    font-size:14px;
    line-height: 80px;
    display: inline-block;
    width: 140px;
    height: 80px;
    vertical-align: top;
}
.topple{
    display: none;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
}
.public-main{
    height: 615px;
}
.main-left{
    position: absolute;
    width: 480px;
    height: 421px;
    margin-top:121px;
    margin-left: 214px;
}

.main-left-t{
    width:340px;
    height:46px;
}
.main-left-s{
    display: flex;
}
.space-card{
    display: flex;
    width:126px;
    height:48px;
    font-size:40px;
    color: #FFFFFF;
    line-height:48px;
    font-family:FZLTDHK--GBK1-0;
    letter-spacing:2px;

}
.subtitle{
    margin: 16px 0 0 0;
    width:337px;
    height:28px;
    font-size:20px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(117,213,46,1);
    line-height:28px;
    letter-spacing:2px;
}
.introduce{
    margin: 20px 0 0 0;
    width:304px;
    height:140px;
    font-size:16px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:28px;
}
.all-case{
    margin: 16px 0 0 0;
    width: 350px;
}
.case{
    margin: 16px 15px 0 0;
    display: inline-block;
    color: #26C41C;
    width:96px;
    height:32px;
    border-radius:2px;
    border:1px solid;

}
.details{
    padding: 0 0 0 24px;
    width:48px;
    height:17px;
    font-size:12px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:17px;
}
.main-right{
    /*float: right;*/
    height: 421px;
}
/*.main-right-a,.main-right-b{
    position: absolute;
    left: 70%;
    top: 40%;
    transform: translate(-50%,-50%);
}*/
.main-right-a{
    position: absolute;
    left: 70%;
    top: 45%;
    transform: translate(-50%,-50%);
}
/*.swiper-slide{
    position: absolute;
    left: 70%;
    top: 40%;
    transform: translate(-50%,-50%);
}*/
.footer-footer{
    width: 100%;
    background:linear-gradient(180deg,rgba(23,255,198,0.4) 0%,rgba(0,173,130,0) 100%);
}
.footer-max{
    width: 1200px;
    /*padding-top: 80px;*/
    margin: 0 auto;
    height: 160px;
    position: relative;
    display: flex;
}
.footer-all-oneUnique{
    margin-left: 131px;
    width: 147px;
    height: 160px;
}
/*.footer-all-unique{
    display: inline-block;
    width: 147px;
    height: 160px;
    background:linear-gradient(179deg,rgba(0,255,162,0.5) 0%,rgba(0,255,181,0) 100%);
}*/
.footer-all{
    display: inline-block;
    width: 147px;
    height: 160px;
}
.footer-all:hover{
    background: linear-gradient(179deg,rgba(0,255,162,0.5) 0%,rgba(0,255,181,0) 100%);
    box-shadow: 0 0 8px #00FF83;
    -moz-box-shadow: 0 0 8px #00FF83;
    -webkit-box-shadow: 0 0 8px #00FF83;
}
.footer-all:hover .triangle{
    display: block;
}
.footer-one{
    margin-top: 27px;
}
.footer-name{
    margin: 0 0 0 49px;
    width:50px;
    /*height:22px;*/
    font-size:16px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(255,255,255,1);
    /*line-height:22px;*/
    letter-spacing:1px;
}
.triangle{
    display: none;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    margin: 5px 0 0 65px;
}
.footer-min-d{
    background-color: #222222;
    height: 45px;
    text-align: center;
    width:100%;
    font-size:12px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:#666666;
    padding-top: 17px;
}
.main-aa{
    margin-top: 20px;
}
.main-cc{
    margin: 6px 0 0 6px;
    display: flex;
}
.introduce-kk{
    margin-left: 18px;
    width:374px;
    height:16px;
    font-size:14px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(255,255,255,1);
}
