.effect{
    margin: 16px 0 0 0;
    width:320px;
    height:140px;
    font-size:16px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:28px;
}
.right-a{
    position: absolute;
    left: 70%;
    top: 40%;
    transform: translate(-50%,-50%);
}
.right-b{
    width:600px;
    height:300px;
    position: absolute;
    left: 70%;
    top: 40%;
    transform: translate(-50%,-50%);
}